/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("/asset/image/shape-2.png");
    /* font-family: "Raleway", sans-serif; */
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* main section css start */
.main_section {
    padding: 5px;
    position: absolute;
}

/* bar_section strat*/

.logo {
    padding: 10px;
    width: 190px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 70px;
}

.nav_li {
    display: inline;
    font-size: 25px;
    padding: 40px;
    position: relative;
    top: 80px;
    left: 570px;
    font-weight: 600;
}

.nav_li:hover {
    color: white;
    text-decoration: underline;
}

/* menu_section */
.menu_section {
    padding: 20px;
    position: absolute;
    left: 1270px;
    top: 60px;
}

.menu_div {
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 6px;
}

/* menu_section end*/
/* bar_section end */

/* contant_section start */
.contant_section {
    padding: 30px;
    width: 500px;
    /* border: 1px solid; */
    position: absolute;
    top: 200px;
    left: 80px;
}

.startup {
    font-size: 90px;
    font-weight: 500;
    letter-spacing:3px ;
    font-weight: 900;
    position: absolute;
    top: 20px;
}

.box_service {
    width: 290px;
    height: 65px;
    border-radius: 10px;
    background-color: rgb(233, 123, 60);
    position: absolute;
    top: 140px;
}

.service {
    padding: 10px;
    color: white;
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 00;
    position: relative;
    bottom: 9px;
    left: 5px;
}

.h1_ {
    font-size: 80px;
    position: relative;
    bottom: 130px;
    left: 320px;
}

.p_1 {
    font-size: 34px;
    font-style: italic;
    position: absolute;
    top: 222px;

}

.p_2 {
    font-size: 50px;
    font-style: italic;
    position: absolute;
    top: 265px;

}

.p_3 {

    font-size: 17px;
    color: rgb(86, 95, 112);
    position: absolute;
    top: 330px;
    line-height: 30px;
    font-weight: bold;
}

.btn_1 {
    width: 150px;
    height: 40px;
    color: white;
    font-weight: 500;
    border-radius: 40px;
    background: linear-gradient(to right, rgb(248, 186, 150), rgb(237, 62, 18) 100%);
    border-style: none;
    font-size: 18px;
    position: absolute;
    top: 500px;
}

.a_link {
    font-size: 26px;
    text-decoration: none;
    position: absolute;
    top: 550px;
}

/* image_section start */
.image1 {
    width: 595px;
    height: 580px;
    position: absolute;
    top: 170px;
    left: 620px;
    filter: drop-shadow(13px 13px 30px rgb(255, 255, 255,0.249));
}

.image2 {
    width: 520px;
    height: 190px;
    position: absolute;
    top: 559px;
    left: 619px;
    z-index: 2;
}

.image3 {
    width: 150px;
    height: 350px;
    position: relative;
    top: 265px;
    left: 840px;
    z-index: 1;
    filter: grayscale(55%);
}

/* bootstrap_section  */
.bootstrap_section {
    padding: 5px;
    position: absolute;
    top: 780px;
}
.bi {
    padding: 10px;
    position: relative;
    left: 1200px;

}
/* bootstrap_section  end*/
.dot_li {
    width: 40px;
    height: 24px;
    font-size: 30px;
    position: relative;
    bottom: 10px;
    left: 1370px;
}

.dot_li:hover {
    color: white;
}

/* dot_section end*/
/* box_section start */
.box1 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: radial-gradient(rgb(221, 211, 189),rgba(254, 131, 64, 0.923));
    position: relative;
    bottom: 550px;
    left: 240px;
    box-shadow: 2px 2px 10px 4px rgb(229, 178, 133);
}

.box2 {
    width: 130px;
    height: 65px;
    border-radius: 100px 100px 0 0;
    rotate: 270deg;
    background: radial-gradient(rgb(221, 211, 189), rgba(254, 131, 64, 0.923));
    position: relative;
    left: 1338px;
    bottom: 500px;
    box-shadow: 2px 2px 10px 4px rgb(245, 164, 93);
}

.box3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(rgb(221, 211, 189), rgba(254, 131, 64, 0.923));
    box-shadow: 2px 2px 10px 4px rgb(205, 152, 106);
    z-index: -1;
    position: absolute;
    top: 540px;
    left: 1160px;
}

.box4 {
    width: 250px;
    height: 130px;
    border-radius: 190px 190px 0 0;
    background: radial-gradient(rgb(221, 211, 189), rgba(246, 123, 57, 0.923));
    box-shadow: 2px 2px 20px 4px rgb(244, 157, 81);
    z-index: -1;
    position: absolute;
    top: 707px;
    left: 300px;
}
.box5 {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(rgb(242, 227, 209), rgba(238, 119, 60, 0.923));
    box-shadow: 2px 2px 20px 4px rgba(240, 142, 89, 0.923);
    position: absolute;
    top: 540px;
    right: 640px;
} 
/* box_section end */

 .shootingstar_section {
    position: absolute;
}
.star {
    height: 60px;
    width: 2px;
    background: linear-gradient(white,transparent);
    transform: rotate(320deg);
    
} 
.star1 {
    position: absolute;
    left: 8px;
    bottom: 630px;
} 
.star2 {
    position: absolute;
    bottom: 450px;
    left: 640px;
} 
.star3 {
    position: absolute;
    bottom: 170px;
    left: 770px;
} 
.star4 {
    position: absolute;
    bottom: 240px;
    left: 1195px;
} 
.star5 {
    position: absolute;
     bottom: 600px;
    left: 1070px;
} 

/* shootingstar_section end */

/* main section end */